.checkout{
    height: 100%;
}

.advertisement{
    width: 100vw;
    margin-bottom: 1.4vh;
}

.checkout_title{
    margin-right: 5vw;
    padding: 2vh 1vw;
    font-size: calc(2vh + 2vw);
    border-bottom: 1px solid lightgray;
}

.checkout_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 2vw;
    background-color: white;
}

.checkout_subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:40vw;
    min-width: 110px;
    height: 16vh;
    min-height: 110px;
    max-height: 150px;
    padding: 2vh 2vw;
    background-color: #f3f3f3;
    border:1px solid #ddd;
    border-radius: 3px;
}

.checkout_subtotal > button{
    width: 100%;
    background:linear-gradient(#f0c14b,#d4a327);
    font-size: calc(0.5vh + 0.5vw);
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 0.5vh 0.2vw;
}

.checkout_subtotal > p{
    font-size: calc(0.3vh + 1.4vw);
}

.subtotal__gift{
    display: flex;
    align-items: center;
    font-size: calc(0.2vh + 1vw);
}

.subtotal__gift >input{
    margin-right: 0.4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
@media only screen and (max-width: 730px){
    .checkout_subtotal{
        height: 8vh;
        min-height: 50px;
        width:50vw;
    }
    .checkout_subtotal > p{
        font-size: calc(0.2vh + 1.2vw);
    }
    .basket_item_image{
        max-width: 25vw;
        min-width: 25vw;
    }
}


.basket_content{
    align-items: flex-start;
}

.basket_item_image{
    max-width: 20vw;
    min-width: 20vw;
    max-height: 25vh;
    object-fit: contain;
    margin-right: 2vh;
    display: flex;
    align-self: flex-start;
}

.basketitems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.basket_item{
    display: flex;
    margin: 2vh 0vw;
}

.remove_button{
    width: max-content;
    background:linear-gradient(#f0c14b,#d4a327);
    font-size: calc(0.5vh + 0.5vw);
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 0.5vh 0.2vw;
    display: flex;
    align-items: center;
}

.item_info_rating{
    display: flex;
}

.item_info_price{
    display: flex;
}

.basket_item_info{
    display: flex;
    flex-direction: column;
}

.basket_item_info > p{
    font-weight: 600;
    font-size: calc(7px + 0.8vw);
    max-height: 13vh;
    overflow: scroll;
    margin-bottom: 2vh;
}

.item_info_quantity{
    background-color: #c7c7c7;
    height: 2vw;
    width: 2vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity_handle{
    display: flex;
    align-items: center;
    height: 2vw;
}

.quantity_handle div{
    height: 2vw;
    width: 2vw;
    /* padding: 0vh 0.5vw; */
    object-fit: contain;
    background:linear-gradient(#f0c14b,#d4a327);
    font-size: calc(1vh + 1vw);
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button{
    cursor: pointer;
}