.header{
    height: 4vw;
    min-height: 50px;
    background-color: #161b22;
    padding: 0.2vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    z-index: 10;
    position: sticky;
  }

.header_logo{
    width: 7vw;
    min-width: 68px;
    object-fit: contain;
    padding: 4px 0 0 0;
}

.header_search{
    display: flex;
    align-items: center;
    flex:1;
    margin: 0px 1vw;
    width: auto;
    height: 80%;
}

.header_search_input{
    height: 80%;
    border: none;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
}

.header_search_input:focus{
    outline: none;
}

.header_search_icon{
    height: max-content;
    padding: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb757;
    color: #313130;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}

.header_nav{
    display: flex;
    color: white !important;
    justify-content: space-evenly;
    align-items: center;
}

.header_nav a{
    text-decoration: none;
    color: white !important;
}

.header_nav_links{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 0.4vw;
    padding: 1vh 0.7vw;
}

.header_nav_links:nth-last-child(2):hover{
    border: 1px solid white;
    cursor: pointer;
}

.header_nav_links:nth-last-child(1):hover{
    border: 1px solid white;
    cursor: pointer;
}

.nav_links_line1{
    font-size: calc(3px + 0.5vw);
}

.nav_links_line2{
    font-size: calc(3px + 0.9vw);
    font-weight: 800;
}

.header_nav_basket{
    display: flex;
    flex-direction: row;
    margin: 0px 1vw;
    
}

#no_of_items{
    font-size: 10px;
    font-weight: 600;
    float: inline-end;
    background-color:  #ffb757;
    color:red;
    height: max-content;
    padding: 4px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px){
    .header_nav_basket{
        transform: scale(0.5);
    }
    .header_search_icon{
        padding: 1.3vw;
        transform: scale(0.7);
        position: relative;
        right: 1.4vw;
    }

    .header_logo{
        width: 7vw;
        min-width: 45px;
        padding: 4px 0 0 4px;
    }
    
    .header{
        height: 10vw;
        min-height: 20px;
    }
    .header_search_input{
    border-radius: 4px 0px 0px 4px;
    }
    .nav_links_line2{
        display: flex;
        align-self: center;
    }
    .header_nav_links{
        padding: 0.5vh 0.3vw;
    }
}